
header {
    text-align: center;
    background-color: #4e8adf;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

}


* {
    font-family: open-sans;
    text-align: center;
}

p {
    font-size: 20px;
}

#form {
    margin: auto;
    padding: 50px;
}

input[type=text] {
    width: 75%;
    margin: 15px;
    font-size: 20px;
} 
 
input[type=text]:focus {
  background-color: lightblue;
}


#flashcard {
    border: solid;
    border-color: black;
    margin: auto;
    padding: 40px auto 40px auto;
    height: auto;
    width: 75%;
    height: 300px;
    background-color: white;
    color: black;
}

#flashcard p {
    margin: 40px;
    font-size: 50px;
}

.container { 
    padding: 20px;
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.container1 { 
    padding: 20px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    text-align: center;
}

#footer {
    color: white;
    background-color: #4e8adf;
}

button {
    border: none;
    font-size: 20px;
    background-color: #4e8adf;
    color: white;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #619cf2;
}

#right {
    background-color: red; 
}

#right:hover {
    background-color: #ff4444;
}

#wrong {
    background-color: green;
}

#wrong:hover {
    background-color: #44cc44;
}

html { 
    scroll-behavior: smooth;
}

@keyframes fadeIn { 
    from { opacity: 0;} 
    to {opacity: 1;} 
}

#flashcard p { 
    animation: fadeIn 2s ease-in-out; 
    
}